<% provide(:title, "Sign Up") %>

<%- content_for :center do -%>
<div class="row">
	<div class="span6 offset3">
  <h3>Or Sign up</h3>
  <%= form_for(@user) do |f| %>
  	
      <%= render 'shared/form_fields', f: f %>
      <%= f.submit "Create Account", class: "btn btn-primary" %>

    <% end %>
</div>
</div>
<%- end -%>