<% provide(:title, t('.sign_up')) %>

<%- content_for :center do -%>
<div class="row">
	<div class="span6 offset3">
  <h3><%= t('.sign_up') %></h3>
  <%= form_for(@user) do |f| %>
  	
      <%= render 'shared/form_fields', f: f %>
      <%= f.submit t('.create_account'), class: "btn btn-primary" %>

    <% end %>
</div>
</div>
<%- end -%>