<% provide(:title, @title) %>
 <%- content_for :sidebar do -%>
 <div class="span4 spinner-settings-sidenav">

  <ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#"><i class="icon-chevron-right"></i>Account</a></li>   <%# active=selected %>
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
    <li><a href="#"><i class="icon-chevron-right"></i>Theme</a></li>  
  </ul>
</div>

<%- end -%>
<%- content_for :body do -%>
<%= render 'shared/user_profile_card' %>   
<div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>
<%- end -%>