<ul class="nav nav-tabs nav-stacked">
    <li><%= link_to 'Account<i class="icon-chevron-right"></i>'.html_safe, edit_user_path(@user) %></li>
    <li><%= link_to 'Followers<i class="icon-chevron-right"></i>'.html_safe, followers_user_path(@user) %></li>  
    <li><%= link_to 'Following<i class="icon-chevron-right"></i>'.html_safe, following_user_path(@user) %></li>  
  </ul>