	<h3>Create Spin</h3>
	<%= form_for(@spin) do |f| %> 
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose new spin..." %>
	</div>
	<span class="help-block">140</span>
	<%= f.submit "Post", class: "btn btn-primary" %>
	<% end %>