<footer class="footer">
  <small>
    <a href="http://spinner.fake.org/">Spin app</a> <%= t('.creator') %>
  </small>
  <nav>
    <ul>
      <li><a href="#"><%= t('.about') %></a></li>
      <li><a href="#"><%= t('.contact') %></a></li>
      <li><a href="#">Fake</a></li>
    </ul>
  </nav>
</footer>