<footer class="footer">
  <small>
    <a href="http://spinner.fake.org/">Spin app</a>
    by Matteo Gentile
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://spinner.fake.org/">Fake</a></li>
    </ul>
  </nav>
</footer>