<div id="ajax-modal" class="modal hide fade" tabindex="-1">
  <%= form_for object ||= Spin.new, html: {:id => 'new_spin_ajax', :multipart => true }, :remote => true do |f| %>
  <div class='modal-header'>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Create Spin</h3>
  </div>
  <div class='modal-body'>
        
    	
    		<%= f.text_area :content, placeholder: "Compose new spin..." %>
        
    	<span class="help-block">140</span>
  </div>
  <div class='modal-footer'>  
    <div style="position:relative;" class="pull-left">
          <a class='btn' href='javascript:;'>
            Choose File...
            <%= f.file_field :multimedia , class: "image_uploader"  %>
          </a>
          &nbsp;
          <span class='label label-info' id="upload-file-info"></span>
        </div>
    <button type="button" data-dismiss="modal" class="btn">Close</button>
    <%= f.submit "Post", class: "btn btn-primary", data: { :loading_text => "Posting..." } %>
  </div>
  <% end %>
</div>